<div id="burgerlist">
    <h2 class="headings">Burgers to Eat:</h2>
    <ul>
        {{#each burgers  }}
        {{#if this.dataValues.devoured}}
        {{else}}
        <h3>{{this.dataValues.burger_name}} Burger</h3>
        <form action='/api/burgers/eat/{{this.dataValues.id}}' method="POST">
            <button type="submit">Eat This Burger!</button>
        </form>
        <form action='/api/burgers/delete/{{this.dataValues.id}}' method="POST">
            <button class="delete">Delete This Burger!</button>
        </form>
        {{/if}}
        {{/each}}
    </ul>
</div>

<div id="eatenburgers">
    <h2 class="headings">Burgers I've Eaten:</h2>
    {{#each burgers  }}
    {{#if this.dataValues.devoured}}
    <h4> Name: {{this.dataValues.burger_name}} </h4>
    {{/if}}
    {{/each}}

    </ul>
</div>

<div id="addburger">
    <h2 class="headings">Add a Burger!</h2>
    <form id="appbottom" action="/api/burgers" method="POST">
        <input name="burgerName" type="text">
        <button type="submit">Submit</button>
    </form>
</div>